<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
<head>
    <title>Profile Page</title>
</head>
<body>
<div  layout:fragment="content" class="container mySpace">
    <div class="jumbotron">
        <h1 class="text text-center">Task Management Overview</h1>
        <p class="text text-center">
            Task Management removes the complexity from project management and puts you in control. With Task Management, you and your project team can quickly and easily set up new projects, assign and share tasks, share a centralized file library and calendar, send and receive notifications, and synchronize everything across all devices. Available for Mac, PC, Outlook, iPhone, iPad, and Android.
        </p>
        <p class="text text-center">
            Task Management is different from other task management products in that it is much easier to use than other products. Its intuitive user interface and single dashboard makes using Task Management so simple that no training or documentation is needed to use it. Simply create an account and within seconds you and your project team will be successfully creating and managing projects. It’s that easy.
        </p>
    </div>
</div>
</body>
</html>