<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sd="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}">
<head>
<title>Index Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>

<div layout:fragment="content" class="container mySpace">
    <form action="/users" class="form-inline">
        <div class="form-group mb-2">
            <input type="text" class="form-control" name="name" placeholder="Search User" />
            <input type="submit" value="Search"  class="btn btn-primary"/>
        </div>
    </form>
    <div class="card">
        <div class="card card-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Name<a class="sorted" sd:pagination-sort="name" ></a></th>
                    <th>Email<a class="sorted" sd:pagination-sort="email"></a></th>
                    <th>Add Task</th>
                    <th>Delete User</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user:${users}">
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.email}"></td>
                    <td><a  th:href="@{/addTask(email=${user.email})}" class="btn btn-dark">Add Task</a></td>
                    <td><a  th:href="'/users/delete?email=' + ${user.email}"
                            onclick="return confirm('Delete this user ?')"
                            class="btn btn-danger">
                        <i class="fa fa-trash-o"></i>
                    </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container mySpace"></div>
</div>
</body>
</html>