<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}" >
<head>
    <title>Task Management</title>
</head>
<body>

<div  layout:fragment="content" class="container mySpace">
    <div class="jumbotron">
        <h1 class="text text-center" style="padding-top: 0px">Task Management<br> Made Delightfully Simple</h1>
        <p class="text text-center">“With Task Management you will complete projects faster and with less overhead”</p>
    </div>
    <!-- uncomment this after you find a image -->
<!--    <div class="landing-decoration-i0 decoration decoration&#45;&#45;circle skrollable skrollable-between"-->
<!--         data-0-bottom-top="transform: translateY(150px);"-->
<!--         data-0-top-bottom="transform: translateY(-150px);"-->
<!--         style="transform: translateY(-12.3596px);">-->

<!--    </div>-->
</div>
</body>
</html>